<!DOCTYPE html>
<html>
<head>
    <title>Geocode Address</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Enter an Address to find the nearest Panda Fleet Vechiles</h1>
    <form action="/geocode" method="post">
        <label form="address">Address:</label>
        <input type="text" id="address" name="address">
        <button type="submit">Submit</button>
    </form>

    <div id="output">
        <p>Results will be displayed here.</p>
    </div>


</body>



</html>
