<!DOCTYPE html>
<html>
<head>
    <title>Fleet Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <meta http-equiv="refresh" content="5"> -->
</head>
<body>
  <div class="container">
    <h2>Panda Fleets Near You</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>GPS Latitude</th>
                <th>GPS Longitude</th>
                <th>Owner Name</th>
                <th>Mileage</th>
                <th>Fuel Level</th>
                <th>Temperature</th>
                <th>Serviced Date</th>
                <th>Next Service Date</th>
                <th>Fleet Alerts</th>
            </tr>
        </thead>
        <tbody>
            {% for row in findpanda_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</body>
</html>
