<!DOCTYPE html>
<html>
<head>
    <title>Employee Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <meta http-equiv="refresh" content="5"> -->
</head>
<body>
  <div class="container">
    <h2>Employee Data</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Department</th>
                <th>Hire Date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for row in empdata %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
              <td>{{ row[7] }}</td>
              <td>{{ row[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
